.card-details{
 width: 70%;
 margin: 0 auto;
 padding: 20px;
}

.card-details > p > strong {
  font-size: 40px;
  padding: 50px;
  color: var(--main-color);
  margin: 20px auto;
}

.card-details > p {
  font-size: 36px;
}