footer{
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  height: 209px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--main-color);
}

.footer__social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}

.footer__social img{
  width: 50px;
  margin: 0 5px;
  cursor: pointer;
}