nav{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque al fondo */
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 2px solid var(--main-color);
}

nav > a:visited{
  color: var(--main-color);
}

.nav__logo{
  text-decoration: none;
  font-size: 40px;
  margin-left: 20px;
}

.nav__links-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  align-items: center;
}

.nav__links-container a{
  font-size: 20px;
  margin: 0 20px;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.nav__links-container a:visited {
  color: var(--main-color);
}

.nav__links-container a:hover{
  text-shadow: 
    5px 5px 20px var(--main-color),
    -5px -5px 20px var(--main-color),
    5px -5px 20px var(--main-color),
    -5px 5px 20px var(--main-color);
  color: var(--white);
}

button{
  border: none;
  cursor: pointer;
}