nav{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque al fondo */
  display: flex;
  margin: 0 auto;
  height: 8vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.nav__logo{
  text-decoration: none;
  font-size: 40px;
}

.nav__links-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav__links-container a{
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.nav__links-container a:hover{
  text-shadow: 
    5px 5px 20px var(--main-color),
    -5px -5px 20px var(--main-color),
    5px -5px 20px var(--main-color),
    -5px 5px 20px var(--main-color);
}