:root{
  --main-color: #9d52ff;
  --white: #FFF;
  --black: #494848;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.2s ease-in-out;
}

.light{
  color: var(--dark);
  background-color: var(--white);
}

.dark{
  color: var(--white);
  background-color: var(--black);
}

body{
  position: relative;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
  text-align: center;
  margin: 0 20px 20px 20px;
  font-size: 48px;
}